<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Garcia_ancheta</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Garcia_ancheta.styles.css" asp-append-version="true" />

    <sytle>
       

    </sytle>
</head>
<body>


    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" id="menuCheckbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Student">Student</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Course">Course</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Section">Section</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Room">Room</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Teacher">Teacher</a>
                </li>
            </ul>
        </div>
    </nav>


    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
