<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<style>
    table, th, td {
        border: 1px solid black;
    }

    .edit-profile-form {
        display: none;
        width: 100%;
        margin-top: 20px;
    }

    .label {
        color: black;
        font-weight: bold;
    }

    .input-field {
        width: 100%;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .edit-profile-form {
        display: none;
        margin-top: 20px;
        padding: 15px;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        background-color: antiquewhite;
    }

</style>
<body>
    <div id="fileUploadForm" class="edit-profile-form">
        <form method="post">
            <label class="label" for="Teacher_ID">
                Teacher ID:
                <input type="text" name="Teacher_ID" class="input-field">
            </label>

            <label class="label" for="Teacher_Firstname">
                Teacher Firstname:
                <input type="text" name="Teacher_Firstname" class="input-field">
            </label>

            <label class="label" for="Teacher_Lastname">
                Teacher Lastname:
                <input type="text" name="Teacher_Lastname" class="input-field">
            </label>

            <label class="label" for="Teacher_Middlename">
                Teacher Middlename:
                <input type="text" name="Teacher Middlename" class="input-field">
            </label>

            <label class="label" for="Faculty">
                Faculty:
                <input type="text" name="Faculty" class="input-field">
            </label>

            <label class="label" for="Specialization">
                Specialization:
                <input type="text" name="Specialization" class="input-field">
            </label>

        </form>
    </div>

    <button class="btn1" onclick="toggleAddUserForm()">Add Teacher</button>

    <table style="width:100%">
        <tr>
            <th>Teacher ID</th>
            <th>Teacher Firstname</th>
            <th>Teacher Lastname</th>
            <th>Teacher Middlename</th>
            <th>Faculty</th>
            <th>Specialization</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
        <tr>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>
                <button class="btn btn-outline-yellow btn-sm">
                    <i class='bx bx-edit-alt'></i>
                </button>
                <button class="btn btn-outline-yellow btn-sm">
                    <i class='bx bx-trash'></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>
                <button class="btn btn-outline-yellow btn-sm">
                    <i class='bx bx-edit-alt'></i>
                </button>
                <button class="btn btn-outline-yellow btn-sm">
                    <i class='bx bx-trash'></i>
                </button>
            </td>
        </tr>
    </table>
</body>
<script>

    function toggleAddUserForm() {
            var form = document.getElementById('fileUploadForm');
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
        }

</script>
